{
  "plugins": ["prettier-plugin-svelte"],
  "semi": false,
  "singleQuote": true,
  "svelteSortOrder": "options-scripts-styles-markup",
  "svelteStrictMode": false,
  "svelteBracketNewLine": true,
  "svelteAllowShorthand": true,
  "svelteIndentScriptAndStyle": true,
  "printWidth": 80
}
